<%= render 'pages/admin' %>

<h1>Generated Report</h1>

<h3>
    Percentage of Infected users: <%= infected_percentage %> 
</h3>
<br />
<h3>
    Percentage of Uninfected users: <%= uninfected_percentage %>
</h3>
