// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.icon-background {
    color: rgb(197, 30, 30) !important;
}
.featurette-divider{
    color: grey;
}
.red-back{
    background-color: rgb(197, 30, 30) !important;
}

.section{
    height: 60vh !important;
}

