<h1>Trades#show</h1>
<p>Find me in app/views/trades/show.html.erb</p>

<p id="notice"><%= notice %></p>

<p>
  <strong>Item name:</strong>
  <%= @resource.item_name %>
</p>

<p>
  <strong>Points:</strong>
  <%= @resource.points %>
</p>

<%= link_to 'Back', trades_path %>
